.fs-15 {
	font-size: 15px;

}

.fs-20 {
	font-size: 20px;
}

.page-section-bg {
	background-color: #fff;
}

.mb-100 {
	padding-bottom: 100px;
}

.h-div {
	height: 264px;
}

.custom-h5 {
	font-size: 17px;
}

.c-white {
	color: #fff;
}

.c-new {
	color: #333 !important;
}

.mt-100 {
	margin-top: 70px;
}

.mb-70 {
	padding-bottom: 100px;
}

.media-holder {
    background-position: bottom;
}

.btn-more {
 	color: #0d2f5d;
 	font-weight: bold;
 	cursor: pointer;
 	display: inline-block;
 	margin-bottom: 10px;
}
#header.fixed-header .main-navigation > ul > li > a, #header.with-bg-img .main-navigation > ul > li > a {
    color: #0d2f5d;
    font-weight: bold;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.join-form input:only-child {
    border-left: none;
    width: 310px;
}

.text-right {
    text-align: right;
    color: #150606;
    font-weight: 600;
        cursor: pointer;

}



.pr-30px {
    padding-right: 30px;
    display: inline-block;
    padding-bottom: 15px;
}

.fa-contact {
    vertical-align: middle;
}

.main-navigation > ul > li {
    padding: 0px 16px;
    font-size: 15px;
}

.footer .main-footer {
    padding: 70px 0;
    color: #d2d2d2;
    background: url(../images/footer-img2.jpg) center no-repeat;
    background-size: cover;
    position: relative;
 }

 .info-links > li > a {
    color: #fff;
    
}

.foot-styl {
    color: #fff;
}

.mb-30 {
    margin-bottom: 40px !important;
}



/*.col-cus li {
    font-size: 15px;
}
.col-cus li a {

color: #fff !important;

}*/
 /*Media quaries*/

@media(min-width: 1024px) and (max-width: 1440px) {
	

	.media-inner {
    position: absolute;
    top: 50%;
    left: 150px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.media-inner span {
    font-size: 50px;
    line-height: 82px;
    font-weight: 900;
}


}

@media(max-width: 1024px) {
	.media-inner span {
    font-size: 50px;
    line-height: 82px;
    font-weight: 900;
}

.media-inner {
    position: absolute;
    top: 50%;
    left: 80px;
    
}


}

.joinn input {
    background-color: #d4cfcf !important;
}
/*
@media(min-width: 1024px) {

    .pb-60px {
    padding-bottom: 65px;
 }

}*/

/*Media quaries mobile new*/

.responsive-nav-button:before {
     
    color: #333;
}

@media only screen and (max-width: 767px) {
    
    .logo img {
        width: 80px !important;
    }

   
    .responsive-nav-button {
        position: absolute;
        top: 20px;
        right: 10px;

    }

    .phone  {
        display: inline-block;
    }

    .sm-center {
        text-align: right;
    }

    .btn-mob {
        position: absolute;
    top: 35%;
    left: 0%;
    padding: 10px;
    font-size: 14px;
    }

 
.mt-100 {
    margin-top: 60px;
}

.mb-70 {
    padding-bottom: 20px;
}

.page-section.with-bg-img{
    background-position: -137px;
  }

 .res-text {
   position: relative;
    bottom: 67px;
    font-size: 40px;
 } 

 .text-sm {
        color: #333333;
    background-color: #fff;
    opacity: 0.5;
    position: relative;
    top: 100px;
    border-radius: 25px;
    font-weight: bold;
 }

 .media-holder {
    background-position: -930px;
 }

 .logo-wrap {
    margin-bottom: 0 !important;
 }

 .media-inner-span {
    font-size: 40px;
    line-height: 42px;
 }

 .flag-i  {
    display: none;
 }

 .p-mob {
    padding-top: 400px;
 }

 .media-inner span {
     
    line-height: 56px;
    }

}

@media only screen and (max-width: 375px) {
    .secondary-t {
        display: none;
    }

    .p-mob {
         font-size: 30px;
    }
    
}